<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Address</th>
    </thead>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.address }}</td>
    </tr>
</table>